@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #c4bdbd;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #272626;
		--foreground: #ffffff;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
